@model List<TaskListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4 class="font-weight-bold text-center" style="color:white"><i class="fas fa-tasks mr-2"></i>GÖREV İŞLEMLERİ </h4>
<br />
<div style="background-color:white ;border-radius:20px;" >
    @if (Model.Count != 0)
    {


        <center>
            <a asp-action="AddTask" class="btn btn-lg my-2 text-center" style="background-color: #00adbb;color:white;">
                <i class="fas fa-plus-circle mr-2"></i>   Yeni Görev Oluştur
            </a>
        </center>
        <table class="table table-sm table-hover table-striped" id="1"  style="font-weight:bold">
            <tr>
                <th>AD</th>
                <th>AÇIKLAMA</th>
                <th>OLUŞTURULMA TARİHİ</th>
                <th>ACİLİYET</th>
                <th>İŞLEM</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.CreationDate.ToString("D")</td>
                    <td>@item.Urgency.Description</td>
                    <td>
                        <a asp-action="UpdateTask" asp-route-id="@item.Id" class="btn btn-warning btn-sm" style="float:right"><i class="fas fa-edit mr-2"></i>Düzenle</a>
                        <a href="" data-toggle="modal" data-target="#DeleteScreen" data-mod="@item.Id" class="btn btn-danger btn-sm" style="float:right"><i class="fas fa-times-circle mr-2"></i>Sil</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="p-3 text-center mt-3 ">
            <p class="lead">
                Herhangi bir görev bulunamadı
            </p>
            <a asp-action="AddTask" class="btn btn-info btn-sm">Bir Görev Oluştur</a>

        </div>

    }
    <!-- Modal -->
    <div class="modal fade" id="DeleteScreen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">UYARI</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Silmek istediğinizden emin misiniz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" style="background-color:red;color:white" data-dismiss="modal">Hayır Vazgeç</button>
                    <button id="Delete" type="button" class="btn " style="background-color: #00adbb;color:white">Evet Sil</button>
                </div>
            </div>
        </div>
    </div>

    @section JavaScript{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#DeleteScreen").on("show.bs.modal", function (event) {
                    let triggerElement = $(event.relatedTarget);
                    let id = triggerElement.data("mod");

                    $("#Delete").click(function () {
                        $.ajax({
                            type: "Get",
                            url: "./Task/DeleteTask",
                            data: { id: id },
                            dataType: "json",
                            contentType: "application/json; charset=utf-8;",
                            success: function () {

                                window.location.reload();
                            },
                            error: function (error) {
                                alert(error.statusText);
                            }
                        })
                    });
                })
            });
        </script>

    }
</div>
